
##### Fastlane #####

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

**/fastlane/README.md

.env
fastlane/Build

##### Generated project files #####

PlacesFinder.xcworkspace/xcshareddata
PlacesFinder.xcworkspace/xcuserdata
**/Info.plist
PlacesFinder/Config/AppConfig.plist
PlacesFinder/Settings.bundle/Root.plist

##### CoordiNodeGenerator #####

PlacesFinder/CoordiNode/Output

##### Slather #####

Slather

##### Sourcery #####

PlacesFinder/Sourcery/Output
PlacesFinderTests/Components/Sourcery/Output

##### Cocoapods #####

Pods

##### Settings #####

PlacesFinder/Settings.bundle/Licenses

##### Other #####
Breakpoints_v2.xcbkptlist
contents.xcworkspacedata
IDEFindNavigatorScopes.plist
IDEWorkspaceChecks.plist
UserDefaultsServiceIntegrationTests.swift.plist
UserInterfaceState.xcuserstate
xcschememanagement.plistUserInterfaceState.xcuserstate
xcschememanagement.plist
