
##### Fastlane #####

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

**/fastlane/README.md

.env
fastlane/Build

##### Generated project files #####

PlacesFinder/PlacesFinder.xcodeproj
PlacesFinder.xcworkspace/xcshareddata
PlacesFinder.xcworkspace/xcuserdata
PlacesFinder/**/Info.plist
PlacesFinder/PlacesFinder/Config/AppConfig.plist
PlacesFinder/PlacesFinder/Settings.bundle/Root.plist

##### CoordiNodeGenerator #####

PlacesFinder/PlacesFinder/CoordiNode/Output

##### Slather #####

Slather

##### Sourcery #####

PlacesFinder/PlacesFinder/Sourcery/Output

##### Carthage #####

Carthage

##### Settings #####

PlacesFinder/PlacesFinder/Settings.bundle/Licenses

##### Other #####
Breakpoints_v2.xcbkptlist
contents.xcworkspacedata
IDEFindNavigatorScopes.plist
IDEWorkspaceChecks.plist
UserDefaultsServiceIntegrationTests.swift.plist
UserInterfaceState.xcuserstate
xcschememanagement.plistUserInterfaceState.xcuserstate
xcschememanagement.plist
