//
//  Release.xcconfig
//  PlacesFinder
//
//  Created by Justin Peckner.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
PRODUCT_BUNDLE_IDENTIFIER = com.justinpeckner.PlacesFinder
URL_SCHEME = placesFinder
